* {
    list-style-type: none;
  }
  body {
    padding-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  form input,
  select,
  textarea {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    outline: none;
    display: block;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  form input:focus,
  select:focus,
  textarea:focus {
    border: solid 1px #4fa3db;
    box-shadow: 0 0 5px #4fa3db;
    outline: none;
  }
  
  .double-field {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }
  
  .double-field input,
  .double-field select {
    width: 63%;
  }
  
  .double-field div {
    margin-right: 20px;
  }
  
  textarea {
    resize: none;
    width: 80%;
  }
  
  .long-field input {
    width: 80%;
  }
  
  .prop-header {
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  input[type="submit"] {
    background-color: #2574a8;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px 20px;
    margin: 20px 0;
  }
  
  input[type="submit"]:hover {
    background-color: #055b94;
    transform: translateY(-3px);
  }
  
  input[type="file"] {
    background: #ffffff;
    border: none;
  }
  .short-field {
    width: 50%;
  }
  .short-field input {
    width: 60%;
  }
  
  .property-card {
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 4px 8px 0 #00000033;
    margin-bottom: 50px;
  }
  .property-photo {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
  }
  
  #properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .property-desc {
    padding: 20px;
  }
  
  .property-desc h5 {
    font-weight: bold;
  }
  
  .property-card button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2989c9;
    color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.3s ease;
  }
  
  .price-bubble {
    background-color: #05994f;
    border-radius: 20px;
    padding: 5px 12px;
  
    color: #ffffff;
    width: 40%;
  }
  .property-card button:hover {
    background-color: #2574a8;
    cursor: pointer;
  }
  
  .property-desc p {
    color: #6b6b6bc4;
  }
  
  .property-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .property-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    width: 80%;
    margin: 30px 0;
    box-shadow: 0 4px 8px 0 #00000033;
  }
  
  .property-img {
    height: 100%;
    width: 95%;
  }
  
  .bubbles {
    display: flex;
  }
  .bubble {
    text-align: center;
    border-radius: 30px;
    padding: 6px 20px;
    color: #ffffff;
    margin: 10px 20px 10px 0px;
  }
  
  .prop-price {
    background: #2989c9;
  }
  
  .prop-type {
    background: #05994f;
  }
  
  .property-body {
    padding: 20px;
  }
  
  .email-btn {
    background-color: #2574a8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px 20px;
    margin: 20px 0;
  }
  
  .no-rooms {
    margin: 15px 0;
  }
  .email-btn:hover {
    background-color: #055b94;
    transform: translateY(-3px);
  }