{%extends 'base.html'%} {% block main%}

<h1 class="heading">Properties</h1>
{% include "flash_msgs.html"%}
<div class="card-group">
    {% if property %}
    <div class="card-deck">
        {% for user in property %}
        <div class="card">

            <img class="img2" src="{{url_for('get_image',filename=user.photo_name)}}">

            <div class="card-title">
                {{user.title}}
            </div>

            <div class="icons">
                <p><img class="iconp" src="{{url_for('static', filename='loc.png')}}" />{{user.location}}</p>
            </div>

            <div class="prices">
                {{user.pric}}
                <br>

            </div>
            <br>
            <a href="{{ url_for('user_pro', propertyid=user.id) }}" class="viewbutton">View Property</a>
        </div>
        {% endfor %}

    </div>
</div>
{% else %}
<p> There are currently no Properties. </p>
{% endif %} {% endblock%}