{% extends "base.html" %}

<!-- -->
{% block main %}
<div class="property-wrapper">
  <div class="property-container">
    <img
      class="property-img"
      src="{{ url_for('get_image', filename=prop.photo_path) }}"
      alt="property_img"
    />
    <div class="property-body">
      <h2>{{prop.title}}</h2>
      <!-- -->
      <p>{{prop.description}}</p>
      <div class="bubbles">
        <!-- -->
        <div class="prop-type bubble">
          {{prop.propertyType.value.capitalize()}}
        </div>
        <div class="prop-price bubble">${{prop.price}}</div>
      </div>
      <!-- -->
      <div class="no-rooms">
        {{prop.no_of_beds}} Bedrooms
        <!-- -->
        {{prop.no_of_baths}} Bathrooms
      </div>
      <!-- -->
      <div class="location">{{prop.location}}</div>
      <!-- -->
      <button class="email-btn">Email Realtor</button>
    </div>
  </div>
</div>
{% endblock %}